@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
}

.navbar{
    transition: all 1s;
    margin-top: auto;
    background-color: #fd7e14;
}

.collapse {
    display: flex;
    justify-content: flex-end;
}

header {
    background-image: url(/Users/glebhvoles/Desktop/DI-FullStack-Bootcamp-Python/Week-2/Day-5/PortfolioProject/images/headerback.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    transition: all;
    height: 100vh;
    width: 1000vh;
}

.home-page {
    display: flex;
}

.title {
    text-align: center;
}