<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>CV</title>
</head>
<body>
    <h1>Gleb Khvoles</h1>
    <img src="IMG_1353.jpeg" alt="Photo" style="width: 300px; height: 400px">
    <div class="cv_block">
        <h2>Hobbies</h2>
        <ul>
            <li>Sport</li>
            <li>Music</li>
            <li>Traveling</li>
            <li>Stock-market</li>
        </ul>
    </div>
    <div class="cv_block">
        <h2>Skills</h2>
        <ul>
            <li>Organizational skills</li>
            <li>Decision-making</li>
        </ul>
    </div>
    <div class="sides">
        <div class="cv_block">
            <h2>My strong sides</h2>
            <ul>
                <li>Purposeful</li>
                <li>Disciplined</li>
            </ul>
        </div>
        <div class="cv_block">
            <h2>My weak sides</h2>
            <ul>
                <li>Subordination</li>
                <li>Memorization of big data</li>
            </ul>
        </div>
    </div>
</body>
</html>